.navigation {
  display: flex;
  background-color: white;
  color: #333333;
  justify-content: space-between;
  //  #162A41;

  & a {
    font-weight: bold;
    text-decoration: none;
    color: #333333;
  }
}

.header__container{
    background-color: #162A41;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    color: white;
    align-items: center;
}